D1/chi-square/chi_Data/invalid_NN_KR.csv filter=lfs diff=lfs merge=lfs -text
D1/Data/patents.xlsx filter=lfs diff=lfs merge=lfs -text
D1/excel/cpuDataAnalysis.xlsx filter=lfs diff=lfs merge=lfs -text
